# 本仓库所有内容的最终负责人
*                       @OUTLElijiadong

# 自动化与发布配置
/.github/               @OUTLElijiadong

# 协作规范文档
/CONTRIBUTING.md        @OUTLElijiadong
/SECURITY.md            @OUTLElijiadong
/CHANGELOG.md           @OUTLElijiadong

# 主页正文
/README.md              @OUTLElijiadong
